# Visual Studio
.vs/

# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / IntelliJ
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg

# Logs
*.log

# OS files
.DS_Store
Thumbs.db